:root {
	--accent-color: #800000;
	--gradient-color: #f6bb73;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: calc(15px + .2vw);
	width: min(80%, 1024px);
	line-height: 1.5;
	margin: auto;
	border: 2px solid var(--accent-color);
}

h1, h2, h3, p, ul {
	padding: .25em 0;
}

a:hover, a:focus {
	font-style: italic;
	color: var(--accent-color);
}

h1 {
	font-size: 150%;
}

h2 {
	font-size: 130%;
	color: var(--accent-color);
}

h3 {
	font-size: 105%;
}

ul {
	margin-left: 2em;
}

header {
	line-height: 1.2;
	border-bottom: 2px solid var(--accent-color);
	background-image: linear-gradient(30deg, var(--gradient-color) 0%, white 30%, white 65%, var(--gradient-color) 100%);
}

header h2 {
	font-size: 175%;
	padding: .5em 0 0 0;
}

header h3 {
	font-size: 130%;
	font-style: italic;
	padding-bottom: 1em;
}

header img {
	width: clamp(40px, 15%, 80px);
	float: left;
	margin: .75em 1em;
}

main {
	display: flex;
	clear: left;
	padding: 0 1em 1em;
}

main blockquote {
	font-style: italic;
	padding-left: 1em;
}

main h3 + img {
	width: clamp(40px, 50%, 75px);
	border: 4px double var(--accent-color);
	border-radius: 10px;
}

section {
	flex-basis: 75%;
	padding-left: .5em;
}

section img {
	width: clamp(100px, 50%, 250px);
	float: right;
	margin: 0 1em .25em;
}

aside {
	flex-basis: 25%;
	padding-right: .5em;
}

footer {
	background-color: var(--accent-color);
}

footer p {
	text-align: center;
	color: white;
	padding: 1em 0;
}

.featured {
	border-top: 2px solid var(--accent-color);
	border-bottom: 2px solid var(--accent-color);
	padding: .5em 0 1em;
}

.speaker h1 {
	color: var(--accent-color);
}

.speaker h2 {
	color: black;
}

.speaker p {
	padding: .5em 0;
}

.large {
	font-size: 125%;
}

/* Navigation styles for A09 (Exercises 7-1 & 7-2) */

.navbar {
	background: var(--accent-color);
}

.menu {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu > li {
	flex-basis: 20%;
	text-align: center;
}

.navbar a {
	display: block;
	padding: 1rem;
	text-decoration: none;
	color: white;
	margin: 0 1px 2px;
}

.navbar a:hover,
.navbar a:focus,
.navbar a.current {
	background: var(--gradient-color);
	color: var(--accent-color);
}

.menu > li:first-child a { margin-left: 0; }
.menu > li:last-child a  { margin-right: 0; }

.menu > li.has-sub {
	position: relative;
}

.menu > li.has-sub > a small {
	margin-left: .35rem;
}

.submenu {
	position: absolute;
	left: 0;
	right: 0;
	background: var(--accent-color);
	list-style: none;
	margin: 0;
	padding: 0;
	display: none;
}

.menu > li.has-sub:hover > .submenu {
	display: block;
}

.submenu > li a {
	display: block;
	padding: 1rem;
	text-decoration: none;
	color: white;
	margin: 0 2px 2px;
}

.submenu > li a:hover,
.submenu > li a:focus {
	background: var(--gradient-color);
	color: var(--accent-color);
}
